.tsi-doc-icon {
  margin: 0 1em 0 1em;
  font-size: 22px;
}

.tsi-doc-icon-medium {
  font-size: 22px;
  margin: 0 0 0 1em;
}

.tsi-doc-icon-label {
  margin: 1em 0 0 0;
}

.tsi-doc-icon-events {
  height: 220px;
}
