.tsi-edit {
  min-width: 12em;
  height: 1.3em;
  overflow: hidden;
  display: flex;
  align-items: center;
  outline: var(--tsi-edit-outline);
  border: var(--tsi-edit-border);
  border-radius: var(--tsi-edit-border-radius);
}

.tsi-edit-wait {
  opacity: var(--tsi-wait-opacity);
}

.tsi-edit-invalid {
  border: var(--tsi-invalid-border);
  background: var(--tsi-invalid-background);
}

.tsi-edit-label {
  cursor: default;
  white-space: nowrap;
  font-size: var(--tsi-font-size);
  font-family: var(--tsi-font-family);
  outline: var(--tsi-edit-label-outline);
  border: var(--tsi-edit-label-border);
}

.tsi-edit-label-inline {
  padding: 0.1em 0.3em 0.1em 0;
}

.tsi-edit-label-top-left {
  padding: 0.1em 0 0.1em 0;
  text-align: left;
}

.tsi-edit-label-top-right {
  padding: 0.1em 0 0.1em 0;
  text-align: right;
}

.tsi-edit-label-wait {
  opacity: var(--tsi-wait-opacity);
}

.tsi-edit-label-invalid {
  color: var(--tsi-invalid-color-text);
}

.tsi-edit-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-overflow: hidden;
  white-space: nowrap;
  padding: 0.1em 0.3em 0.1em 0.3em;
  outline: var(--tsi-edit-input-outline);
  border: var(--tsi-edit-input-border);
  background: transparent;
}

.tsi-edit-icon {
  outline: var(--tsi-edit-icon-outline);
  border: var(--tsi-edit-icon-border);
  fill: var(--tsi-edit-icon-fill);
}

.tsi-edit-container {
  box-sizing: border-box;
  font-size: var(--tsi-font-size);
  font-family: var(--tsi-font-family);
}

.tsi-edit-container-inline {
  display: flex;
  align-items: flex-end;
}

.tsi-edit-container-column {
  display: flex;
  flex-direction: column;
}
