.tsi-docs-props {
  margin: 1em 0 0 0;
}

.tsi-docs-props table {
  border-collapse: collapse;
}

.tsi-docs-props th {
  padding: 0.5em;
}

.tsi-docs-props td {
  padding: 0.5em;
  border: 1px solid var(--tsi-color-caption);
}

.tsi-docs-events-group {
  max-height: 320px;
}

.tsi-docs-icon {
  font-size: 24px;
  margin: 0.5em;
}

.tsi-docs-icon-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0.5em 1em 0.5em;
}

.tsi-docs-icon-large {
  font-size: 32px;
}

.tsi-docs-icon-common {
  font-size: 24px;
}

.tsi-docs-icon-caption {
  margin: 1em 0 0 0;
}

.tsi-docs-icon-group {
  display: flex;
  flex-wrap: wrap;
}

.tsi-docs-label {
  font-size: 16px;
  margin: 0.5em;
  max-width: 320px;
}

.tsi-docs-label-content {
  padding: 0.5em;
  border: 1px solid rgb(2, 0, 134);
  border-radius: 5px;
}

.tsi-docs-label-green {
  color: green;
}

.tsi-docs-label-blue {
  color: blue;
}

.tsi-docs-edit {
  font-size: 16px;
  margin: 0.5em;
  max-width: 320px;
}

.tsi-docs-edit-border {
  border: 2px solid green;
}

.tsi-docs-edit-input {
  font-weight: bold;
  color: green;
}

.tsi-docs-edit-icon {
  color: red;
}


.tsi-docs-check-box {
  font-size: 16px;
  margin: 0.5em;
  max-width: 320px;
}

.tsi-docs-check-box-label {
  color: green;
}

.tsi-docs-check-box-icon {
  color: red;
}

.tsi-docs-list-box {
  font-size: 16px;
  margin: 0.5em;
  max-width: 320px;
}

.tsi-docs-icon {
  width: 32px;
}

.tsi-docs {
  margin: 0 0 0 1em;
}

.tsi-docs code {
  color: #003d08;
}

.tsi-docs pre {
  font-size: 16px;
  color: #003d08;
  background: #f4f4f4;
  padding: 1em;
  border-radius: 0.5em;
}

.tsi-docs-block {
  margin: 1em;
}

.tsi-docs-example-description {
  font-size: 24px;
  margin: 0.5em 0 0 0;
}

.tsi-docs-example-item {
  margin: 0.5em 0 0 1em;
}

