/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./docs/Main/Main.css ***!
  \****************************************************************************************************************/
.tsi-docs-edit {
  max-width: 220px;
  margin: 16px;
}

.tsi-docs-icon {
  width: 32px;
}

