@font-face {
	font-family: "tsinput-font";
	font-display: block;
	src: url("tsinput-font.eot?a5d4a2b2128e1b81dde53d441dba44d7?#iefix") format("embedded-opentype"),
url("tsinput-font.woff2?a5d4a2b2128e1b81dde53d441dba44d7") format("woff2"),
url("tsinput-font.woff?a5d4a2b2128e1b81dde53d441dba44d7") format("woff");
}

.tsi-icon:before {
	font-family: tsinput-font !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.tsi-icon-empty:before {
	content: "\f101";
}
.tsi-icon-unchecked:before {
	content: "\f102";
}
.tsi-icon-checked:before {
	content: "\f103";
}
.tsi-icon-angle-left:before {
	content: "\f104";
}
.tsi-icon-angle-up:before {
	content: "\f105";
}
.tsi-icon-angle-right:before {
	content: "\f106";
}
.tsi-icon-angle-down:before {
	content: "\f107";
}
.tsi-icon-refresh:before {
	content: "\f108";
}
.tsi-icon-unselected:before {
	content: "\f109";
}
.tsi-icon-selected:before {
	content: "\f10a";
}
