/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/lib/Input/Input.css ***!
  \*********************************************************************************************************************/
.tsi-input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/lib/Icon/Icon.css ***!
  \*******************************************************************************************************************/
.tsi-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: default;
}

.tsi-icon-clickable {
  cursor: pointer;
}


/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/edit.css ***!
  \*****************************************************************************************************************/
.tsi-edit {
  box-sizing: border-box;
  height: 1.3em;
  overflow: hidden;
  display: flex;
  align-items: center;
  outline: var(--tsi-edit-outline);
  border: var(--tsi-edit-border);
  border-radius: var(--tsi-edit-border-radius);
  flex: 1 1 100%;
}

.tsi-edit-column {
  flex: 0 1 auto;
}

.tsi-edit-wait {
  opacity: var(--tsi-wait-opacity);
}

.tsi-edit-invalid {
  border: var(--tsi-invalid-border);
  background: var(--tsi-invalid-background);
}

.tsi-edit-label {
  cursor: default;
  white-space: nowrap;
  padding: 0.1em 0.3em 0.1em 0;
  font-size: var(--tsi-font-size);
  font-family: var(--tsi-font-family);
  outline: var(--tsi-edit-label-outline);
  border: var(--tsi-edit-label-border);
}

.tsi-edit-label-top-left {
  padding: 0.1em 0 0.1em 0;
  text-align: left;
}

.tsi-edit-label-top-right {
  padding: 0.1em 0 0.1em 0;
  text-align: right;
}

.tsi-edit-label-wait {
  opacity: var(--tsi-wait-opacity);
}

.tsi-edit-label-invalid {
  color: var(--tsi-invalid-color-text);
}

.tsi-edit-icon {
  outline: var(--tsi-edit-icon-outline);
  border: var(--tsi-edit-icon-border);
  fill: var(--tsi-edit-icon-fill);
}

.tsi-edit-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  font-size: var(--tsi-font-size);
  font-family: var(--tsi-font-family);
}

.tsi-edit-container-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/components/Edit/Edit.css ***!
  \**************************************************************************************************************************/
.tsi-edit-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-overflow: hidden;
  padding: 0.1em 0.3em 0.1em 0.3em;
  outline: var(--tsi-edit-input-outline);
  border: var(--tsi-edit-input-border);
  background: transparent;
}

/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/lib/Overlay/Overlay.css ***!
  \*************************************************************************************************************************/
@keyframes tsi-overlay-show { from { opacity: 0; } to { opacity: 1; } }
@keyframes tsi-overlay-hide { from { opacity: 1;} to { opacity: 0; } }

.tsi-overlay {
  z-index: 100;
  position: absolute;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  opacity: 0;
}

.tsi-overlay-showing {
  opacity: 1;
  animation: tsi-overlay-show 0.3s ease-out;
}

.tsi-overlay-show {
  opacity: 1;
}

.tsi-overlay-hiding {
  opacity: 0;
  animation: tsi-overlay-hide 0.3s ease-in;
}

/*!*******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/lib/List/List.css ***!
  \*******************************************************************************************************************/
.tsi-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tsi-list-items {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tsi-list-items::-webkit-scrollbar-track {
	background-color: var(--tsi-color-face);
}

.tsi-list-items::-webkit-scrollbar {
	width: 6px;
	background-color: var(--tsi-color-face);
}

.tsi-list-items::-webkit-scrollbar-thumb {
	background-color: var(--tsi-color-border);
}


/*!********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/components/ListBox/ListBox.css ***!
  \********************************************************************************************************************************/
.tsi-edit-list {
  max-height: 300px;
  font-size: var(--tsi-font-size);
  font-family: var(--tsi-font-family);  
  background: var(--tsi-background);
  outline: var(--tsi-edit-list-outline);
  border: var(--tsi-edit-list-border);
  border-radius: var(--tsi-edit-list-border-radius); 
}

.tsi-edit-list-items {
  max-height: 220px;
  overflow-y: auto;
}

.tsi-edit-list-items-item {
  padding: 0.5em;
}

.tsi-edit-list-items-item:hover {
  background: var(--tsi-background-hover);
}

.tsi-edit-list-items-item-selected {
  font-weight: bold;
}

.tsi-edit-list-items-item-focused {
  background: var(--tsi-background-focused);
}


/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/index.css ***!
  \******************************************************************************************************************/
:root {
  --tsi-color-face: #c9dfd1;
  --tsi-color-border: #92a2ac;
  --tsi-color-text: #000000;
  --tsi-color-background: #ffffff;
  --tsi-color-background-hover: #ddebe7;
  --tsi-color-background-selected: var(--tsi-color-background);
  --tsi-color-background-focused: #d9e1e7;

  --tsi-font-size: 14px;
  --tsi-font-family: Arial;
  
  --tsi-background: var(--tsi-color-background);
  --tsi-background-hover: var(--tsi-color-background-hover);
  --tsi-background-selected: var(--tsi-color-background-selected);
  --tsi-background-focused: var(--tsi-color-background-focused);

  --tsi-wait-opacity: 0.5;

  --tsi-invalid-color-text: #ff0000;
  --tsi-invalid-border: 1px solid var(--tsi-invalid-color-text);
  --tsi-invalid-background: #fff4d9;

  --tsi-edit-label-outline: none;
  --tsi-edit-label-border: none;

  --tsi-edit-outline: none;
  --tsi-edit-border: 1px solid var(--tsi-color-border);
  --tsi-edit-border-radius: 0.3em;

  --tsi-edit-input-outline: none;
  --tsi-edit-input-border: none;

  --tsi-edit-icon-fill: var(--tsi-color-border);
  --tsi-edit-icon-outline: none;
  --tsi-edit-icon-border: none;

  --tsi-edit-list-outline: none;
  --tsi-edit-list-border: 1px solid var(--tsi-color-border);
  --tsi-edit-list-border-radius: 0.3em;

}
/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./docs/Main/Main.css ***!
  \****************************************************************************************************************/
.tsi-docs-edit {
  max-width: 220px;
  margin: 16px;
}
